{% extends "shell/base.html" %}
{% load static %}

{% block title %}DSSAT System Config{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'earthrise_agents_base/css/explorer.css' %}">
<link rel="stylesheet" href="{% static 'earthrise_agents_base/css/management.css' %}">
<link rel="stylesheet" href="{% static 'dssat_agent/css/event_table.css' %}">
<link rel="stylesheet" href="{% static 'dssat_agent/css/config.css' %}">
{% endblock %}

{% block body_class %}explorer-page{% endblock %}

{% block body %}
{% include "earthrise_agents_base/partials/nav.html" with active_nav="management" %}

<div class="mgmt-container">
    <div class="mgmt-header">
        <h1>DSSAT System Config</h1>
        <p class="subtitle">System-wide DSSAT defaults. Users inherit these unless they override them in their personal preferences.</p>
    </div>

    {% include "dssat_agent/partials/_config_tabs.html" %}
</div>

<script>
    window.CONFIG_PAGE = {
        isSystem: true,
        scope: "system",
        availableCrops: {{ available_crops_json|safe }},
        configuredCrops: {{ configured_crops_json|safe }},
    };
</script>
<script src="{% static 'dssat_agent/js/event_table.js' %}"></script>
<script src="{% static 'dssat_agent/js/crop_card.js' %}"></script>
<script src="{% static 'dssat_agent/js/management_practices.js' %}"></script>
<script src="{% static 'dssat_agent/js/config_preferences.js' %}"></script>
<script src="{% static 'dssat_agent/js/config_system.js' %}"></script>
{% endblock %}
