{% extends "shell/_base_skeleton.html" %}
{% load static %}
{% block title %}Password Reset Complete - {{ agent_name }}{% endblock %}
{% block body_class %}chat-page{% endblock %}
{% block extra_css %}<link rel="stylesheet" href="{% static 'accounts/css/auth.css' %}">{% endblock %}
{% block sitewide_feedback %}{% endblock %}

{% block body %}
    <div class="auth-container">
        <div class="auth-card">
            <h1 class="auth-title">Password Changed</h1>
            <div class="auth-success">
                Your password has been set. You can now sign in with your new password.
            </div>
            <div class="auth-links">
                <a href="{% url 'accounts:login' %}">Sign in</a>
            </div>
        </div>
    </div>
{% endblock %}
