{% extends "shell/base.html" %}
{% load static %}

{% block title %}Password Changed{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'earthrise_agents_base/css/explorer.css' %}">
<link rel="stylesheet" href="{% static 'earthrise_agents_base/css/management.css' %}">
{% endblock %}

{% block body_class %}explorer-page{% endblock %}

{% block body %}
{% include "earthrise_agents_base/partials/nav.html" with active_nav="user" %}

<div class="mgmt-container">
    <div class="mgmt-header">
        <h1>Password Updated</h1>
    </div>

    <div class="mgmt-card">
        <p class="mgmt-success-text">Your password has been changed successfully.</p>
        <div class="mgmt-btn-row">
            <a href="{% url 'accounts:profile' %}" class="btn btn-primary">Back to My Account</a>
            <a href="{% url 'earthrise_agents_base:home' %}" class="btn btn-ghost">Home</a>
        </div>
    </div>
</div>
{% endblock %}
